/* .home-container {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
} */

.home-container {
    margin-top: 100px;
}

.home-intro {
    font-size: 20px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color:
    #5cb6cf;
    border: 2px solid #61c4c9;
    margin: 20px;
    padding: 20px;
}

.home-animation {
    font-size: 25px;
    color: white;
}

.home-animation-text {
    color: 
    #ffbd26
}

.home-welcome {
    font-size: 2em;
    font-family: cooper;
    color: white;
    margin: 0;
}




/* 
.home-welcome-container {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} */

/* .block {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
} */

/* .writers-block {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
} */

