.home-container {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.home-intro {
    width: 600px;
    font-size: 25px;
    font-weight: 700;
}

.home-animation {
    margin-bottom: 50px;
    font-size: 25px;
}

.home-welcome {
    color: black;
    font-size: 40px;
}
