
.App {
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
} 

.App-main {
  margin-top: 74px;
}


.btn, .btn-cancel {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
}  

.btn:hover {
  background-color: #2386c8;
}

.btn {
  background-color: #3498db;
}

.btn, .btn-cancel:focus {
  outline: none;
}

.btn-cancel {
  background-color: #c1c9d8;
}

.btn-cancel:hover {
  background-color: #b4bac5;
}

.active-link {
  font-weight: 600;
  /* border-bottom: 1.5px #c7c6c6 solid; */
}