
.App {
  text-align: center;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
} 

.App-main {
  margin-top: 74px;
}
