 .two-words-idea-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    width: 100vw;
}

.two-words-container {
    margin-top: 400px;
    margin-bottom: 100px;
}

.word {
    font-size: 6em;
    font-weight: 800;
    color: white;
}
